.hero {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    color: #444;
}
.img img {
    overflow: clip;
    max-height: 80vh;
}
.hero .img {
    display: flex;
}
.hero .img :nth-child(1) {
    margin-right: -90%;
    overflow-x: hidden;
}
.button-primary a{
    color: #f4f4f4 !important;
}
.section-b {
    background: url('http://getskeleton.com/examples/landing/images/values-bg.jpg') no-repeat center center/cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
    margin-top: -6rem;
    color: #f4f4f4;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.card :nth-child(1) {
    color: #3fd8c3;
    font-size: 5rem;
    font-weight: 200;
}
.card :nth-child(2) {
   
    font-size: 2.5rem;
    font-weight: 200;
}
.card :nth-child(3) {
   
    font-size: 1.5rem;
    font-weight: 200;
}
.section-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
  
}
.section-c p {
    max-width: 60%;
   
    text-align: center;
}
.section-c button a{
   
    text-underline-offset: 2rem;
}
.section-d {
   
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-x {
    display: flex;
    justify-content: center;
    gap : 5%;
}
.container-x img {
    width: 40%;
}
img {

    max-width: 50vh;
}
@media (max-width: 835px) {
    .hero {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center; 
    }
    .hero .text {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }
    .section-b {
        margin-top: 2rem;
    }
}
@media (max-width: 550px) {
    .hero .img :nth-child(1) {
        margin-right: -20%;
    }
}
@media (max-width: 435px) {
    .hero .img :nth-child(1) {
        margin-right: -80%;
    }
}